
<div id="nav">
    <div class="titulonav">
    Opciones
    </div>
    
    <div class="cuerporec">
    <ul>
       <li><a href="./inicioestudiante">Inicio</a></li>
       <li><a href="./progreso1">Mi progreso</a></li>
       <li><a href="./registrarhoras">Registrar Horas</a></li>
       <li><a href="#">Otro</a></li>
    </ul>
    </div>
 </div>
 <% datosnombre.forEach(function(item3) { %> 
<h1>Bienvenido
<%= item3.nombres%>
</h1>
<label for=""></label>
<% }); %>