<!DOCTYPE html>
<html>
    <head>
        <title>Inicio de sesion</title>
    </head>
    <body>
        <script>
            if(<%= tipo %> != 1){
                alert("Inicia sesion")
            }
        </script>
        <label><%= tipo %></label>
        <label>Bienvenido <%= user %></label>
    </body>
</html>