<!DOCTYPE html>
<html>
    <head>
        <title>Inicio de sesion</title>
    </head>
    <body>
        <div>
            <form action="logeado", method="post">
                <label>Nombre de usuario</label><br>
                <input type="text" name="user"><br>
                <label>Password</label><br>
                <input type="text" name="password"><br>
                <input type="checkbox" value="1" name="tutor">
                <input type="submit"><br>
            </form>
            <a href="inicioRegistro">Registrar</a>
        </div>
    </body>
</html>