
<br>  
<form method="POST">
<div class="center" >Numero de Horas: <input name="numhoras" required/></div>
<div class="center">Fecha Inicio: <input type="date" name="fechainicio" required/></div>
<div class="center">Fecha Final: <input type="date" name="fechafinal" required/></div>
<div class="center">Institucion: <input name="institucion" required/></div>
 
<% datoscarnet.forEach(function(item) { %> 
<div class="center">Carnet:
   <label>Codigo Carrera</label>
   <select id="carnet" name="carnet">
       <option value="<%= item.carnet %>"><%= item.carnet %></option>
     </select>
</div>
<% }); %>
            
                      <br> <br> <br>
                      <div class="center2">
                      <button class="btn">Guardar</button>
                      <br></div>
                    

</form>


