<!DOCTYPE html>
<html>
    <head>
        <title>Inicio de sesion</title>
    </head>
    <body>
        <div>
            <label><%= user %> ha sido registrado!</label><br>
            <a href="login">Logearse</a>
        </div>
    </body>
</html>