
<div class="container p-4">
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card-body ">
            <form action="/links/add" method="POST">

            <div class="form-group">

    <label for="nomb">Nombres:</label>
    <input type="text" id="nomb" name="nombres"><br>

    <label for="apellido">Apellidos:</label>
    <input type="text" id="apell" name="apellidos"><br>

    <label for="tel">Telefono:</label>
    <input type="text" id="tel" name="telefono"><br> 

    <label for="carrera">Carrera</label>
    <select id="car" name="carrera">
    <option value="Licenciatura en Enseñanza del Ingles">Licenciatura en Enseñanza del Ingles</option>
    <option value="Ingenieria Industrial">Ingeniería Industrial</option>
    <option value="Ingenieria de Sistemas Informaticos">Ingenieria de Sistemas Informaticos</option>
    <option value="Licenciatura en Enseñanza de la Matematica">Licenciatura en Enseñanza de la Matematica</option>
    </select><br> 

    <label for="facultad">Facultad</label>
    <select id="fa" name="facultad">
    <option value="Facultad de ingenieria y arquitectura ues">Facultad de ingenieria y arquitectura</option>
    </select><br> 

    <label for="area">Area</label>
    <input type="text" id="are" name="area"><br> 

    <label for="codigoca">Codgio Carrera</label>
    <select id="codigoca" name="codigocarrera">
    <option value="D10101">D10101</option>
    </select><br> 

    <label for="email">Email</label>
    <input type="text" id="email" name="email"><br> 

    <input type="hidden" id="estado" name="estado" value='en espera'><br>

    <label for="carnet">Carnet</label>
    <input type="text" id="carnet" name="user"><br>

    <label for="contra"></label>Contraseña</label>
    <input type="text" id="contra" name="pass"><br>



    </div>
<button class="btn btn-success btn-block">Enviar</button>

            </form>

            </div>
            </div>
            </div>
            </div>
            </div>